*{
    font-family: "Poppins", serif;
}
body{
    background-color: #fffbfe;

}

figure img{
    margin-top: 12px;
    width: 80px;
    height: 73px;

}
.btnwhatassp{
    border: 1px solid #27ae60;
    padding: 10px 18px;
    color: #27ae60;
    border-radius: 8px;
    font-size: 16px;
}
.btnwhatassp i{
   color: #27ae60;
}
.btncall{
    border-radius: 8px;
    color: white;
    padding: 10px 18px;
    background: linear-gradient(to right, #0acefe, #2699fb);
}
.bannaircontant h1 {
    font-size: 52px;
    font-weight: 700;

}
.bannaircontant p{
    font-size: 22px;
}
.bannaircontant h1 span{
    color: #2699fb;
}
.bannaircontant ul{
    list-style: none;
}
.bannarform{
    /* padding: 40%; */
    border-radius: 16px;
}
.bannaircontantbtn button{
   width: 50%;
   padding: 10px 0px;
   border-radius: 5px;
  
}
.bannaircontantbtn button:first-child{
color: white;
   background:linear-gradient(to right, #0acffe, #2699f9);
}
.bannarform h3{
    font-size: 18px;
}
.rigbtn{
    width: 100%;
    padding: 10px 0px;
    background:linear-gradient(to right, #0acffe, #2699f9);
    color: white;

}
.contarsection h2{
    font-size: 30px;
    font-weight: bold;
    color: #2699f9;
}
.highlights-section{
    background-color: #f7faff;
}
.highlights-section h2{
    color: #0a1234;
    font-size: 30px;
    font-weight: bold;
}
.highlights-section p{
  font-size: 15px;
}
.icon img{
    width: 90px;
    height: 70px;
}
.btnbook{
    width: 50%;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    background: linear-gradient(to right, #0acefe, #2699fb);
}
.bannair h1{
    font-size: 30px;
    font-weight: 700;
    color: #0a1234;
     width: 500px;
}
.markiting img{
    width: 80px;
    height: 70px;
}
.markiting h2{
   font-size: 25px;
   font-weight: bolder;
}
.markiting p{
   font-size: 15px;
   
 }

 /* footer */
 .footer {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #001e49;
    color: white;
  }
  .footer h5 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .footer ul {
    list-style: none;
    padding: 0;
  }
  .footer ul li a {
    color: rgb(255, 252, 252);
    text-decoration: none;
    display: block;
    margin: 5px 0;
  }
  .footer ul li a:hover {
    text-decoration: underline;
  }
  .footer-bottom {
 /* Purple background */
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  .social-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .social-icons img {
    width: 50px;
    height: 50px;
  }

  /* whitsapp button */


  
  .social-icons {
    position: sticky;
    bottom: 40px;
  }

  
  .social-icons a img {
    width: 10vw; 
    max-width: 50px; 
  }

 .anmation{
    color: white;
    background-color: #958585
 }
 .tg{
    background-color: #5151ff;
    color: white;
    border-radius: 30px;
    padding: 1.875rem;
    text-align: center;
    /* width: 24% !important; */
    transition: all .3s ease-in-out;
 }
 .tg:hover{
    background-color: rgb(4, 4, 4);
    font-size: 18px;
  
 }
 .ta{
    background-color: #f9d74c;
    color: black;
    /* width: 24% !important; */
    border-radius: 25px;
    border-radius: 30px;
    padding: 1.875rem;
    text-align: center;
    transition: all .3s ease-in-out;
 }
 .ta:hover{
    background-color: rgb(237, 77, 77);
    font-size: 18px;
}
.tc{
    background-color: #f97b8b;;
    color: white;
    border-radius: 30px;
    padding: 1.875rem;
    text-align: center;
    /* width: 24% !important; */
    transition: all .3s ease-in-out;
}
.tc:hover{
    background-color: rgb(90, 72, 72);
    font-size: 18px;
}
.tt{
    background-color: #d566f0;;
    color: white;
    border-radius: 30px;
    padding: 1.875rem;
    text-align: center;
    /* width: 24% !important; */
    transition: all .3s ease-in-out;
}
.tt:hover{
    background-color: rgb(192, 125, 125);
    font-size: 18px;
}
